.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  @include desktop {
    display: flex;
  }
}

.menu {
  @include desktop {
    display: flex;
    gap: 30px;
  }
}

.menu__item {
  @include desktop {
    position: relative;
  }
}

.menu__link {
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, null, 1.14, 0.02em);
    color: var(--title-text-color);
    display: inline-block;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &.current {
      color: var(--brend-color);
      &::after {
        content: '';
        width: 100%;
        left: 0;
        bottom: -1px;
        border-radius: 2px;
        position: absolute;
        border: 2px solid var(--brend-color);
      }
    }
    &:hover,
    &:focus {
      color: var(--brend-color);
    }
  }
}

.contact {
  @include desktop {
    display: flex;
    gap: 30px;
    margin-left: auto;
  }
}

.contacts__link {
  @include tablet {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
    @include font(500, null, 1.14, 0.02em);
    color: var(--text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--brend-color);
      .contact__icon {
        fill: var(--brend-color);
      }
    }
  }
}

.contact__icon {
  @include desktop {
    fill: var(--text-color);
    margin-right: 10px;
  }
}

.header-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &.is-open {
    position: absolute;
    z-index: 1;
    right: 3%;
  }

  &:hover,
  &:focus {
    fill: var(--brend-color);
  }

  @include tablet {
    display: none;
  }
}

// .header-btn .icon-cross {
//   display: none;
// }

// .header-btn.is-open .icon-menu {
//   display: none;
// }

// .header-btn.is-open .icon-cross {
//   display: block;
// }

// .menu-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   background-color: var(--accent-whit-color);
//   &.is-open {
//     transform: translateY(0);
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     overflow-y: scroll;
//     height: 100vh;
//   }

//   @include tablet {
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1;

//     padding: 48px 40px;
//     width: 100%;

//     background-color: (--accent-whit-color);
//     transform: translateY(-100%);
//   }
// }
