.header {
  border-bottom: 1px solid #ececec;
  margin-right: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: none;
  @include tablet {
    display: flex;
  }
}

.menu {
  display: flex;
  gap: 30px;
}

.menu__item {
  position: relative;
}

.menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, null, 1.14, 0.02em);
  color: var(--title-text-color);
  display: inline-block;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current {
    color: var(--brend-color);
    &::after {
      content: '';
      width: 100%;
      left: 0;
      bottom: -1px;
      border-radius: 2px;
      position: absolute;
      border: 2px solid var(--brend-color);
    }
  }
  &:hover,
  &:focus {
    color: var(--brend-color);
  }
}

.contact {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & li:first-child .contacts__link {
      padding-bottom: 10px;
    }
  }
  @include desktop {
    flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  @include font(500, null, 1.14, 0.02em);
  color: var(--text-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--brend-color);
    .contact__icon {
      fill: var(--brend-color);
    }
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contact__icon {
  fill: var(--text-color);
  margin-right: 10px;
}

.open-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 10px 0;
  color: var(--title-text-color);
  &:hover,
  &:focus {
    fill: var(--brend-color);
  }

  @include tablet {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 48px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include tablet {
    display: none;
  }
}

.close-btn {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
  &:hover,
  &:focus {
    fill: var(--brend-color);
  }
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu__link {
  @include font(500, 40px, 1.17, 0.03em);
  color: var(--title-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.current {
    color: var(--brend-color);
  }
  &:hover,
  &:focus {
    color: var(--brend-color);
  }
}

.mobile-contact {
  &__item-tel {
    margin-bottom: 32px;
  }
  &__item-mail {
    margin-bottom: 64px;
  }
  &__tel {
    @include font(500, 34px, 1.17, null);
    color: var(--brend-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @include mobile {
      letter-spacing: 0.02em;
    }
  }
  &__mail {
    @include font(500, 24px, 1.16, 0.02em);
    color: var(--text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-soc__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.mobile-soc__item {
  &:not(:last-child) {
    margin-right: 10px;
    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      height: 22px;
      width: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      margin-left: 10px;
    }
  }

  padding-left: 10px;
  padding-top: 10px;
  @include mobile {
    &:not(:first-child) {
      padding-left: 10px;
    }
  }
}

.mobile-soc__link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--brend-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
