:root {
  --brend-color: #2f8db8;
  --text-color: #757575;
  --title-text-color: #212121;
  --primery-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --accent-whit-color: #ffffff;
  --footer-background-color: #2f303a;
  --bg-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --main-bold-weight: 700;
  --main-font: Roboto, sans-serif;
}
